---
layout: default
title: publications, news, projects and more
---

{% include header.html %}

<div id="series">
  {% for series in site.data.series %}
    <h3 id="{{ series.tag_name }}">{{ series.name }}</h3>
    <p>{{ series.desc }}</p>

    <ul>
      {% for post in site.tags[series.tag_name] %}
        <li {% if post.favorite %}class="favorite"{% endif %}>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}

</div>

<hr/>

{% include fine-print.html %}