$sans-serif-article: 'Noto Sans', sans-serif;
$sans-serif-article-2: 'Open Sans', sans-serif;

$accent-color: #40526b;
$accent-secondary: #2779bd;
$nav-height: 100px;

$light-gray: transparentize($base-font-color, .6);
