<div class="topic-box">
  {% comment %}
    timeframe 2419200 = seconds in 4 weeks
    maxposts = 10
    label_FOOBAR just clean way to handle html with liquid
  {% endcomment %}

  {% assign timeframe = 2419200 %}
  {% assign maxposts = 5 %}
  {% assign date_format = site.minima.date_format | default: "%d/%m/%y" %}

  <ul class="no-bullets">
  {% for post in site.posts limit: maxposts %}
    {% assign post_in_seconds = post.last_modified_at | date: "%s" | plus: 0 %}
    {% assign recent_posts = "now" | date: "%s" | minus: timeframe %}
    {% assign post_updated = post.last_modified_at | date: date_format %}
    {% capture post_date %}{{ post.date | date: date_format }}{% endcapture %}

    {% if {{post.date | date: "%s"}} > recent_posts %}
      {% if post.new == true %}
        {% capture label_new %}<span class="label label-primary">New</span>{% endcapture %}
      {% endif %}
    {% endif %}

    {% comment %}
    {% if post_in_seconds > recent_posts %}
      {% if post.last_modified_at > post.date %}
        {% assign label_new = '' %}
        {% comment %}
        {% capture label_updated %}<span class="label label-info">Updated <span class="badge">{{ post_updated }}</span></span>{% endcapture %}
        {% endcomment %}
        {% capture label_updated %}<span class="label label-info">Updated</span>{% endcapture %}
      {% endif %}
    {% endif %}
    {% endcomment %}

    <li class="top-posts">
      <h4 class="header-top-sorted">{{ post_date }}&nbsp;
        <a class="post-link" href="{{ post.url | relative_url }}">
          {% comment %}
          {{ post.title | escape }}</a> {{ label_new }}{{ label_updated }}
          {% endcomment %}
          {{ post.title | escape }}</a>
      </h4>
    </li>
    {% assign post_date = '' %}
    {% assign label_new = '' %}
    {% assign label_updated = '' %}
  {% endfor %}
  </ul>
</div>
