// Floats
.float--left { float: left; }
.float--right { float: right; }

// Text modifiers
.text-weight--lighter { font-weight: lighter; }
.text-weight--bolder { font-weight: bolder; }

.text-align--center { text-align: center; }
.text-align--left { text-align: left; }
.text-align--right { text-align: right; }

.text-size--smaller { font-size: 50%; }
.text-size--small { font-size: 75%; }
.text-size--normal { font-size: 100%; }
.text-size--large { font-size: 125%; }
.text-size--larger { font-size: 150%; }

// Flexbox
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-index-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.align-items--center {
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
}

.align-items--start {
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  -moz-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}

.align-items--end {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  -moz-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
}

.justify-content--center {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}

.justify-content--left {
  -webkit-justify-content: left;
  -ms-justify-content: left;
  -moz-justify-content: left;
  -o-justify-content: left;
  justify-content: left;
}

.justify-content--right {
  -webkit-justify-content: right;
  -ms-justify-content: right;
  -moz-justify-content: right;
  -o-justify-content: right;
  justify-content: right;
}

.justify-content--space-between {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}

.flex-direction--row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}

.flex-direction--row-reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-direction--column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.flex-direction--column-reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

// Lists
.horizontal-list {
  padding-left: 0;
  li {
    display: inline-block;
    padding-right: 10px;
  }
}

.no-bullets {
  list-style: none;
}
